<html>
  <head>
    <title>Sensus</title>
    <!-- <link rel="shortcut icon" href="S.PNG" /> -->
    <style>
    body {
        font-family: Trebuchet MS;
        background-color: {{bg_color}};
    }

    .row {
      display: flex;
    }

    .column {
      flex: 33.33%;
      padding: 5px;
    }
    
    img {
      border: 8px solid black;
      margin: auto;
      display: block;}
    
    h2 {
        text-align:center;
        text-decoration: underline;
    }

    #recommendations, #music {
        border: 8px black solid;
        display: block;
    }

    </style>
    
  </head>
  <body>
    <h1 style="text-align: center; font-style: italic;">Your most highly expressed emotion so far is: {{prom_em}}</h1>

    <div class="row">
      <div class="column" style="margin-right: 40px; margin-left: 4%; margin-bottom:100px;">
        <h2>Emotion Analysis</h2>
        <img src="{{ url_for('video_feed') }}" alt="Emotion Recognition Model" style="width:100%">
      </div>

      <div class="column" style="margin-right: 4%; margin-bottom: 100px;">
        <h2>Face ID Recognition</h2>
        <img src="{{ url_for('face_id') }}" alt="Face ID" style="width:100%">
      </div>
    </div>

    <h2>Some recommendations based on your detected mood:</h2>
    <div class="row">
        <div class="column" id="music" style="margin-right: 40px;">
            <h2>Music:</h2>
            <h3 id="search_term">{{search}}</h3>
            <!-- <iframe style="margin: auto; display: block;" width="420" height="315" src="https://www.youtube.com/embed/_R4-eL3IdhE"></iframe> -->
        </div>
        <div class="column" id="recommendations">
            <h2>Other suggestions for you, {{name}}:</h2>
            <ul>
                {% for recomm in recommendations %}
                    <li>{{ recomm }}</li>
                {% endfor %}
            </ul>
        </div>
    </div> 

    <!--- JavaScript code using Youtube API for music playback -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
  $(document).ready(function(){
    var API_KEY = "AIzaSyDAVVh4XmPAKBIXoOV04xsHUopdheOrQqA"

    var video = ''

    var search_term = document.getElementById("search_term").textContent;
    console.log(search_term)

    if (search_term != "Music playback was not requested."){
        videoSearch(API_KEY, search_term, 1)
    }
    }) 

    function videoSearch(key, search, maxResults){
        $.get("https://www.googleapis.com/youtube/v3/search?part=snippet&key=" + key + "&q=" + search + "&type=video&maxResults=" + maxResults,
        function (data) {
            console.log(data)

            data.items.forEach(item => {
                video = `<iframe width="420" height="40" src="https://www.youtube.com/embed/${item.id.videoId}?&autoplay=1" frameborder="0"></iframe>`

                $("#music").append(video)

            });
        })
    }

</script>
  </body>
</html>